Learn Data Science: https://aiquest.org/ <br>
Python for Everybody: https://aiquest.org/courses/python-for-everybody/ <br>
Join Facebook Group: https://www.facebook.com/groups/StudyMart <br>
Cell/WhatsApp: +8801704265972

# All About Data Types in Python

In [1]:
#Numeric Data 

x = 10 #int
y = 10.5 #float
z = 10+5j #10 is real number and 5j is imaginary

In [2]:
type(x)

int

In [3]:
type(y)

float

In [4]:
type(z)

complex

In [5]:
isinstance(z,complex)

True

In [6]:
isinstance(10,float)

False

In [7]:
isinstance(10,int)

True

In [8]:
#int to float
n = float(x) # n=float

In [9]:
n

10.0

In [10]:
type(n)

float

In [11]:
n = int(n)
type(n)

int

In [12]:
n

10

In [13]:
#int to complex
n = complex(n) #10+0j

In [14]:
n

(10+0j)

In [15]:
type(n)

complex

In [16]:
n = int(n)

TypeError: can't convert complex to int

In [17]:
n = float(n)

TypeError: can't convert complex to float

In [18]:
n = complex(input('Enter your complex number :- '))

Enter your complex number :- 1

In [19]:
n

(1+0j)

In [20]:
n = complex(input('Enter your complex number :- '))

Enter your complex number :- 1+5j

In [21]:
n

(1+5j)

In [22]:
type(n)

complex

# Bool

In [23]:
x = True
y = False

In [24]:
x

True

In [25]:
y

False

In [26]:
true

NameError: name 'true' is not defined

# Sequence Data

In [27]:
#List []
l = [1,2,3,4,True,[1,2],'data',(1,2,3,8)]

In [28]:
l

[1, 2, 3, 4, True, [1, 2], 'data', (1, 2, 3, 8)]

In [29]:
l[0]

1

In [30]:
l[-1]

(1, 2, 3, 8)

In [32]:
l[-1][-1]

8

In [33]:
type(l)

list

In [34]:
isinstance(l,list)

True

In [35]:
#Tupe ()

t = (1,5,8,9,'Ai')
type(t)

tuple

In [36]:
t[0]

1

In [37]:
t[0:4] # colon means to ; 0 to 4-1

(1, 5, 8, 9)

In [38]:
#Range()

x = range(10) #1st case

In [39]:
x

range(0, 10)

In [42]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
x = range(5,20) #2nd case
for i in x:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [44]:
x = range(5,20,3) #3rd case
for i in x:
    print(i)

5
8
11
14
17

In [45]:
x = range(20,5,-3) #4th case
for i in x:
    print(i)

20
17
14
11
8

In [46]:
#array
import array as ar

In [47]:
a = ar.array([1,2,3,4])
a

TypeError: array() argument 1 must be a unicode character, not list

In [48]:
a = ar.array('i',[1,2,3,4])
a

array('i', [1, 2, 3, 4])

In [49]:
type(a)

array.array

In [51]:
a = ar.array('f',[1.5,2,3,4])
a

array('f', [1.5, 2.0, 3.0, 4.0])

In [52]:
#string
x = 'data'
type(x)

str

In [53]:
x = "data"
type(x)

str

In [54]:
x = '''
I love
Data Science
'''

In [55]:
x

'\nI love\nData Science\n'

In [56]:
type(x)

str

In [57]:
#Set

s = {1,2,3,5}

In [58]:
type(s)

set

In [59]:
#Dictionary

dic={
    'varsity': 'FAU Germany',
    'Dept': 'Data Science'
}

In [60]:
dic

{'varsity': 'FAU Germany', 'Dept': 'Data Science'}

In [61]:
type(dic)

dict

In [63]:
dic.keys()

dict_keys(['varsity', 'Dept'])

In [64]:
dic.values()

dict_values(['FAU Germany', 'Data Science'])

In [67]:
#Data Frame (Pandas)

import pandas as pd

df = pd.read_csv('study mart.csv')

In [70]:
df.head(10)

,ID,TITLE,DESCRIPTION,DURATION,STATUS,DATE PUBLISHED,KEYWORDS,VIDIQ SCORE,VIEWS,YT LIKES,...,FB COMMENTS,FB SHARES,TWEETS,REDDIT UPVOTES,REDDIT POSTS,REDDIT COMMENTS,DESC LINK COUNT,DESC WORD COUNT,CREATOR SUGGESTED,ENGAGEMENT RATE
0,l7EbRlgEi0k,Complete Data Analysis: Become a Data Analyst ...,✅ Course Outline: https://deluxe-airmail-22b.n...,09:46,public,1/11/2022,"data analytics, data analysis, data analysis c...",25.788569,387,23,...,0,0,0,0,0,0,21,160,5,3
1,lEqFqZlG_-8,Day-3 #60 Days of Python | All About Python St...,What is string in Python in simple words? Well...,28:47,public,1/11/2022,"python tutorial, python bangla tutorial, pytho...",23.536470,230,20,...,0,0,0,0,0,0,20,216,8,3
2,Y4j91DOyLHs,Day-2 #60 Days of Python | Variables & I/O Fun...,"What is a Variable in Python? Well, A Python v...",39:57,public,1/3/2022,"python course, python tutorial, best python co...",30.313796,1101,67,...,0,0,0,0,0,0,23,171,3,3
3,FZmPnTVOAR4,Day-1 #60 Days of Python Bangla Tutorial | Fut...,Introduction to Python Basic to Advance Course...,15:53,public,1/1/2022,"python course, python tutorial, 60 days of pyt...",31.732286,1528,118,...,0,0,0,0,0,0,25,191,5,3
4,-qjfnjvyoDM,JOIN NOW - Largest Data Science Community in B...,✅ Must Join the Facebook Group: https://facebo...,00:27,public,11/10/2021,"python, data science, machine learning, commun...",29.910318,1003,40,...,0,0,0,0,0,0,18,111,5,2
5,taRfyV__zFs,Data Science & Machine Learning with PYTHON (F...,✅ Course Outline: https://drive.google.com/fi...,15:59,public,11/7/2021,"python full course, machine learning, python t...",36.199277,4289,117,...,0,0,0,0,0,0,22,445,3,2
6,GjfbGb3YhjU,@AI QUEST Introduction to Deep Learning & Natu...,DL-Batch-03 - Introduction to Deep Learning & ...,02:19:38,public,11/2/2021,"deep learning, python, data science, nlp, nlp ...",28.990674,811,33,...,0,0,0,0,0,0,18,204,9,2
7,SM0eeoe_wYA,@AI QUEST | Convolutional Neural Network: All ...,✅ Must Join the Facebook Group: https://facebo...,47:19,public,10/31/2021,"convolutional neural network, cnn, deep learni...",28.617476,744,24,...,0,0,0,0,0,0,18,125,3,2
8,nKI84zHZ9UE,Don't Watch My Video | Announcement: Ads Free ...,✅ Join the Facebook Group: https://facebook.co...,06:17,public,10/29/2021,"data science, python, learn python, data scien...",35.798859,3910,148,...,0,0,0,0,0,0,20,132,5,2
9,td6XxVdDSco,26. Standard Deviation in Data Science | R Pro...,A standard deviation (or σ) is a measure of ho...,10:49,public,10/28/2021,"standard deviation, std in r, standard deviati...",28.535258,730,32,...,0,0,0,0,0,0,20,164,7,2

In [69]:
df.shape

(10, 24)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 10 non-null     object
 1   TITLE              10 non-null     object
 2   DESCRIPTION        10 non-null     object
 3   DURATION           10 non-null     object
 4   STATUS             10 non-null     object
 5   DATE PUBLISHED     10 non-null     object
 6   KEYWORDS           10 non-null     object
 7   VIDIQ SCORE        10 non-null     float64
 8   VIEWS              10 non-null     int64
 9   YT LIKES           10 non-null     int64
 10  YT DISLIKES        10 non-null     int64
 11  YT COMMENTS        10 non-null     int64
 12  FB LIKES           10 non-null     int64
 13  FB REACTIONS       10 non-null     int64
 14  FB COMMENTS        10 non-null     int64
 15  FB SHARES          10 non-null     int64
 16  TWEETS             10 non-null     int64
 17  REDDIT UPVOTES     10 non-null     int64
 18  REDDIT POSTS       10 non-null     int64
 19  REDDIT COMMENTS    10 non-null     int64
 20  DESC LINK COUNT    10 non-null     int64
 21  DESC WORD COUNT    10 non-null     int64
 22  CREATOR SUGGESTED  10 non-null     int64
 23  ENGAGEMENT RATE    10 non-null     int64
dtypes: float64(1), int64(16), object(7)
memory usage: 2.0+ KB

In [72]:
#Binary Types

byte_arr = bytearray('ABCDEF','utf-8')

In [73]:
type(byte_arr)

bytearray

In [74]:
byte_arr

bytearray(b'ABCDEF')

In [75]:
memoryview(byte_arr)

In [76]:
memoryview(byte_arr)[0]

65

In [77]:
mv = memoryview(byte_arr)
mv[0] = 97

In [78]:
memoryview(byte_arr)[0]

97

In [79]:
byte_arr

bytearray(b'aBCDEF')