Learn Data Science: https://aiquest.org/ <br>
Python for Everybody: https://aiquest.org/courses/python-for-everybody/ <br>
Join Facebook Group: https://www.facebook.com/groups/StudyMart <br>
Cell/WhatsApp: +8801704265972

In [1]:
data = 'python'

In [2]:
data[0]

'p'

In [3]:
data[-1]

'n'

In [6]:
for x in data:
    print(x,'x')

p x
y x
t x
h x
o x
n x

In [7]:
range(10)

range(0, 10)

In [8]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [9]:
len(data)

6

In [10]:
for x in range(6):
    print(data[x])

p
y
t
h
o
n

In [12]:
data = 'i love data science so much'
for i in range(len(data)):
    print(data[i])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [13]:
data = 'i love data science so much'
for x in range(len(data)):
    print(data[x])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [14]:
data.split()

['i', 'love', 'data', 'science', 'so', 'much']

In [1]:
data = 'i love data science so much'
data = data.split()
for i in range(len(data)):
    print(data[i],i)

i 0
love 1
data 2
science 3
so 4
much 5

In [17]:
data[1]

'love'

In [3]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    #print(total,x)
print(total)

301

In [7]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    print(total,x)
print('Total',total)

2 2
5 3
9 4
64 55
124 60
201 77
301 100
Total 301

In [25]:
for i in range(10):
    print('data science',i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9

In [26]:
for i in range(5,10): #n-1
    print('data science',i)

data science 5
data science 6
data science 7
data science 8
data science 9

In [27]:
for i in range(5,10,2): # i = i+2
    print('data science',i)

data science 5
data science 7
data science 9

In [28]:
for i in range(100,50,-10): # i = i+2
    print('data science',i)

data science 100
data science 90
data science 80
data science 70
data science 60

In [29]:
for i in range(100,0,-2): # i = i+2
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2