Learn Data Science: https://aiquest.org/ <br>
Python for Everybody: https://aiquest.org/courses/python-for-everybody/ <br>
Join Facebook Group: https://www.facebook.com/groups/StudyMart <br>
Cell/WhatsApp: +8801704265972

# Commonly used built-in functions in Python

# 1. print(): Outputs text or variables to the console.

In [1]:
print("Data Science!")

Data Science!

# 2. len(): Returns the length of an object.

In [2]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)

In [3]:
length

5

# 3. input(): Reads input from the user.

In [4]:
user_input = input("Enter something: ")

Enter something: study mart

In [5]:
user_input

'study mart'

# 4. type(): Returns the type of an object.

In [6]:
x = 5
type_of_x = type(x)
type_of_x

int

# 5. int(), float(), str(): Converts values to integers, floats, or strings.

In [7]:
num_str = "42"
num_int = int(num_str)
num_int

42

In [8]:
float(num_int)

42.0

# 6. range(): Generates a sequence of numbers.

In [9]:
numbers = list(range(1, 6))  # creates a list [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

# 7. sum(): Returns the sum of all elements in an iterable.

In [10]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
total

15

# 8. max(), min(): Returns the maximum or minimum value from an iterable.

In [11]:
numbers = [3, 1, 4, 1, 5, 9, 2]
max_val = max(numbers)
min_val = min(numbers)

In [12]:
max_val

9

In [13]:
min_val

1

# 9. abs(): Returns the absolute value of a number.

In [14]:
absolute_value = abs(-10)
absolute_value

10

# 10. round(): Rounds a floating-point number to a specified number of decimals.

In [15]:
rounded_num = round(3.14159, 2)  # rounds to 2 decimal places
rounded_num

3.14

# 11. sorted(): Returns a new sorted list from the elements of an iterable.

In [16]:
numbers = [3, 1, 4, 1, 5, 9, 2]
sorted_numbers = sorted(numbers)
sorted_numbers

[1, 1, 2, 3, 4, 5, 9]

# 12. any(), all(): Returns True if any or all elements in an iterable are true.

In [17]:
bool_list = [True, False, True, True, False]
any_true = any(bool_list)
all_true = all(bool_list)

In [18]:
any_true

True

In [19]:
all_true

False

# 13. str.join(): Joins elements of an iterable with a string as a separator.

In [22]:
my_list = ["apple", "banana", "orange"]
joined_str = " ; ".join(my_list)
joined_str

'apple ; banana ; orange'

# 14. str.lower(), str.upper(): Converts a string to lowercase or uppercase.

In [23]:
my_string = "Hello, World!"
lower_case = my_string.lower()
upper_case = my_string.upper()

In [24]:
lower_case

'hello, world!'

In [25]:
upper_case

'HELLO, WORLD!'

# 15. list(), tuple(): Converts an iterable to a list or tuple.

In [26]:
my_tuple = (1, 2, 3)
tuple_to_list = list(my_tuple)
tuple_to_list

[1, 2, 3]

In [27]:
tuple(tuple_to_list)

(1, 2, 3)

# 16. dict(): Creates a dictionary.

In [28]:
my_dict = dict(name="John", age=25)
my_dict

{'name': 'John', 'age': 25}

In [29]:
my_dict.keys()

dict_keys(['name', 'age'])

In [30]:
my_dict.values()

dict_values(['John', 25])

# 17. set(): Creates a set.

In [31]:
my_set = set([1, 2, 3, 3, 4])
my_set

{1, 2, 3, 4}

# 18. enumerate(): Returns tuples with the index and corresponding element.

In [32]:
my_list = ["a", "b", "c"]
for index, value in enumerate(my_list):
    print(index, value)

0 a
1 b
2 c

# 19. zip(): Combines two or more iterables element-wise.

In [33]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]
zipped_data = zip(names, ages)

In [34]:
zipped_data

In [35]:
type(zipped_data)

zip

# 21. reversed(): Returns a reverse iterator of a sequence.

In [36]:
my_list = [1, 2, 3]
reversed_list = list(reversed(my_list))
reversed_list

[3, 2, 1]

# 22. sum() (with start argument): Returns the sum of an iterable with an optional starting value.

In [37]:
numbers = [1, 2, 3]
total = sum(numbers, 100)  # sum starting from 10

In [38]:
total

106

# 23. abs() (for complex numbers): Returns the magnitude of a complex number.

The magnitude of a complex number is the distance from the origin (0,0) to the point representing the complex number in the complex plane. For a complex number \(a + bi\), where \(a\) is the real part and \(b\) is the imaginary part, the magnitude (or modulus) is given by the formula:

\[ |a + bi| = \sqrt{a^2 + b^2} \]

In other words, it's the square root of the sum of the squares of the real and imaginary parts. This magnitude represents the length of the vector in the complex plane.

In [39]:
complex_num = 3 + 4j
magnitude = abs(complex_num)

In [40]:
magnitude

5.0

# 24. slice(): Creates a slice object that can be used to slice sequences like lists and strings.

In [41]:
my_list = [1, 2, 3, 4, 5]
my_slice = slice(1, 4)
sliced_list = my_list[my_slice]
sliced_list

[2, 3, 4]

# 25. chr(), ord() (extended usage): Handling Unicode characters and code points.

In [42]:
euro_symbol = chr(8364)  # returns '€'
code_point = ord('€')  # returns 8364

In [43]:
euro_symbol

'€'

In [44]:
code_point

8364

In [45]:
char = chr(65)
print(char)  # Output: 'A'

A

In [46]:
code_point = ord('A')
print(code_point)  # Output: 65

65

Join: https://www.facebook.com/groups/StudyMart

Visit: https://aiquest.org

Learn Python: https://aiquest.org/courses/python-for-everybody/