Learn Data Science: https://aiquest.org/ <br>
Python for Everybody: https://aiquest.org/courses/python-for-everybody/ <br>
Join Facebook Group: https://www.facebook.com/groups/StudyMart <br>
Cell/WhatsApp: +8801704265972

# Python Break Statement

In [1]:
for i in range(1,100):
    if i == 11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,100):
    if i == 11:
        break
    print('3 *',i,'= ',i*3)

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

In [3]:
sen = 'I love Bangladesh and Germany'

In [4]:
for i in sen.split():
    if i=='and':
        break
    print(i)

I
love
Bangladesh

In [5]:
for i in range(1,100):
    if i == 11:
        break
    print('3 *',i,'= ',i*3)

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

In [6]:
i = 1
while i<=100:
    if i==11:
        break
    print('5 *',i,'=',3*i)
    i = i+1

5 * 1 = 3
5 * 2 = 6
5 * 3 = 9
5 * 4 = 12
5 * 5 = 15
5 * 6 = 18
5 * 7 = 21
5 * 8 = 24
5 * 9 = 27
5 * 10 = 30